@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap");
* {
  margin: o;
  padding: 0;
  box-sizing: border-box; }

p::first-letter {
  color: black;
  font-size: 20px; }

/*Pseudo-element*/
h4::before {
  content: " $ "; }

/*Pseudo-clases*/
a:visited {
  color: gray; }

a:hover {
  color: white; }

.img {
  height: 100px;
  border-radius: 15px; }

img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

a {
  color: bisque;
  text-decoration: underline; }

.parrafo {
  justify-content: center;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  margin-top: 50px;
  color: grey; }

/*---------- FOOTER ----------*/
.footer {
  background-color: black;
  text-align: center; }

.carousel-inner img {
  width: 300px;
  object-fit: cover;
  height: 500px; }

.site-footer {
  height: 100px; }

.icons a {
  text-decoration: none;
  color: bisque;
  margin: 10px;
  font-size: 20px; }

.icons a :hover {
  color: black;
  transform: scale(1.1);
  transition: ease-in-out .1s; }

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 0px;
  text-align: center;
  left: 0;
  margin: 30px;
  position: relative;
  background-color: silver;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif; }
  .navBar .contenedor-logo a {
    position: relative;
    top: 100px;
    width: auto;
    display: flex;
    top: 0px;
    margin-left: 10px;
    height: 60px; }
    .navBar .contenedor-logo a .logo {
      width: 100px;
      height: 100px;
      margin-left: 10px;
      border-radius: 15px;
      object-fit: cover; }
  .navBar .fuente30 {
    font-size: 15px;
    background-color: transparent;
    border-radius: 20px;
    text-decoration-color: gray; }

li {
  display: inline;
  margin: 0 15px; }

/*MIXINS*/
.contenedor {
  width: 100%;
  max-width: 1300px;
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: 'header			header   	header ' 'destacado		destacado 	destacado' 'contenido		contenido 	aside' 'footer	 		footer 		footer'; }
  .contenedor .contenido {
    grid-area: contenido;
    display: grid;
    grid-template-columns: 1;
    grid-gap: 5px; }
    .contenedor .contenido .articulo {
      display: flex;
      background: #fff;
      box-shadow: 0px 0px 70px rgba(152, 20, 20, 0.2); }

.destacado .titulo a {
  color: black; }

.articulo {
  font-size: 10px;
  color: #524c4c;
  margin-bottom: 10px; }

.articulo .titulo a {
  font: size 20px;
  font-weight: 25px;
  color: #000s; }

.articulo .contenedor-texto {
  padding: 15px;
  justify-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%; }

.articulo .titulo {
  margin-bottom: 10px;
  font-size: 25px; }

.articulo .extracto {
  font-size: 15px;
  line-height: 25px;
  font-weight: 200;
  margin-bottom: 10px;
  color: black; }

.articulo .destacado .contenedor-thumbnail a {
  display: inline-block;
  width: 50%;
  height: 500%; }

.articulo .contenedor-thumbnail {
  width: 50%; }
  .articulo .contenedor-thumbnail .imgdifusores {
    width: 50%;
    height: 100%;
    object-fit: cover; }

/*sidbar Difusores*/
.sidebar {
  padding: 0.3em 10px;
  text-align: center;
  min-height: 50px;
  grid-area: aside;
  background: #fff;
  color: black; }
  .sidebar .sidebar img {
    border-radius: 100%;
    height: 20em;
    width: 20em;
    margin-bottom: 25px; }
  .sidebar .articulo.destacado .contenedor-thumbnail {
    min-height: 40%;
    width: 0%; }

.articulo.destacado {
  grid-area: destacado;
  color: white;
  background-color: #ccc;
  box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
  text-align: center;
  display: grid;
  grid-template-columns: 1.8fr 1.8fr; }

.cardContainer {
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .cardContainer .card {
    width: 300px;
    padding: 1rem 2rem;
    margin: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }

/*IF*/
.envios {
  background-color: #a3a3a3;
  color: aliceblue; }

h1 {
  color: #211609;
  align-items: center; }
