@import"./parciales/logos";
@import"./parciales/cartas";
@import"./parciales/reser"




li{ 
  display: inline; margin: 0 15px;
}
a { background-color: transparent;
  text-decoration: none;
  color: black;
}


 /* cartas*/


  

.carousel-inner img {
    
  width: 300px;
  
  height: 500px;




}
.site-footer{
    height: 100px;
}
.icons a{
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 20px;
}
.icons a i :hover{
    color: aqua;
    transform: scale(1.1);
    transition: ease-in-out .1s;
}

 
/*Pseudo-element*/
h4::before{
  content: " $ ";
}
/*Pseudo-clases*/
a:visited{
  color: brown;
}
a:hover{
  color: blanchedalmond;
}
/*nav bar media querie*/
@media screen and (min-width:1200px) {
  .navbar{justify-content: flex-end;
  top: 0;
  left: 0;
  display: flex;
  left: 0px;
  margin: 0px;
  position: relative;
  background-color: rgba(204, 159, 119, 0.882);
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif
}
  
}
@media screen and (max-width:480px){
  .header {flex-direction: column;
  }
  .navBar { justify-content: center;
    width: 500px;
  }
  .logo{width: 50px;
    height: 50px;
  }
}

/* columnas index */
.column {
  float: left;
  width: 33.33%;
  padding: 100px;
  
}
@media screen and  (min-width:1200px){
.column {
  float: left;
  width: 33.33%;
  padding: 100px;
}
}

@media screen and  (max-width:480px){
.column {
  
  width: 33.33%;
  padding: 50px;
  
}
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300px;
	
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


