@import "./basicos/variables";
@import "./basicos/resets";
@import "./basicos/basicos";
@import "./parciales/nav";
@import "./parciales/header";
@import "./parciales/main";

  /*IF*/
  
 .envios{
	background-color: rgb(163, 163, 163);
	color: aliceblue;
 }

  
  
  
  









  
  h1{
	color: rgb(33, 22, 9);
	align-items: center;
	
  }
 