@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap");
* {
  margin: o;
  padding: 0;
  box-sizing: border-box;
}

p::first-letter {
  color: black;
}

html {
  height: 100px;
}

/*Pseudo-element*/
h4::before {
  content: " $ ";
}

/*Pseudo-clases*/
a:visited {
  color: gray;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
}

.parrafo {
  justify-content: center;
  margin-top: 50px;
  color: grey;
}

/*---------- FOOTER ----------*/
.footer {
  background-color: black;
  text-align: center;
}

.navBar {
  justify-content: flex-end;
  height: 50px;
  text-align: center;
  top: 0px;
  left: 0;
  display: flex;
  left: 0px;
  margin: 0px;
  position: relative;
  background-color: white;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
}
.navBar .logo {
  width: 100px;
  position: absolute;
  top: 0px;
  border-radius: 15px;
  z-index: 100px;
  left: 700px;
  margin-top: 0%;
  height: 100px;
}
.navBar .fuente30 {
  font-size: 15px;
  background-color: transparent;
  border-radius: 20px;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  -webkit-text-decoration-color: gray;
          text-decoration-color: gray;
}

li {
  display: inline;
  margin: 0 15px;
}

.contenedor {
  width: 100%;
  max-width: 1300px;
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "header			header   	header " "destacado		destacado 	destacado" "contenido		contenido 	aside" "footer	 		footer 		footer";
}
.contenedor .contenido {
  grid-area: contenido;
  display: grid;
  grid-template-columns: 1;
  grid-gap: 5px;
}
.contenedor .contenido .articulo {
  display: flex;
  background: #fff;
  box-shadow: 0px 0px 70px rgba(152, 20, 20, 0.2);
}

.destacado .titulo a {
  color: black;
}

.articulo {
  font-size: 10px;
  color: rgb(82, 76, 76);
  margin-bottom: 10px;
}

.articulo .titulo a {
  font: size 20px;
  font-weight: 25px;
  color: #000 s;
}

.articulo .contenedor-texto {
  padding: 15px;
  justify-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
}

.articulo .titulo {
  margin-bottom: 10px;
  font-size: 25px;
}

.articulo .extracto {
  font-size: 15px;
  line-height: 25px;
  font-weight: 200;
  margin-bottom: 10px;
  color: black;
}

.articulo .destacado .contenedor-thumbnail a {
  display: inline-block;
  width: 50%;
  height: 500%;
}

.articulo .contenedor-thumbnail {
  width: 50%;
}
.articulo .contenedor-thumbnail .imgdifusores {
  width: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*sidbar Difusores*/
.sidebar {
  padding: 0.3em 10px;
  text-align: center;
  min-height: 50px;
  grid-area: aside;
  background: #fff;
  color: black;
}
.sidebar .sidebar img {
  border-radius: 100%;
  height: 20em;
  width: 20em;
  margin-bottom: 25px;
}
.sidebar .articulo.destacado .contenedor-thumbnail {
  min-height: 40%;
  width: 0%;
}

.articulo.destacado {
  grid-area: destacado;
  color: white;
  background-color: #ccc;
  box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
  text-align: center;
  display: grid;
  grid-template-columns: 1.8fr 1.8fr;
}

.cardContainer {
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.cardContainer .card {
  width: 300px;
  padding: 1rem 2rem;
  margin: 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.img {
  height: 100px;
  border-radius: 15px;
}

/*navbar*/
.parrafo {
  justify-content: center;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  margin-top: 50px;
  color: grey;
}

/*LOGO*/
/*carousel-inner*/
/*boottstrap*/
.carousel-inner img {
  width: 300px;
  height: 500px;
}

.site-footer {
  height: 100px;
}

.icons a {
  text-decoration: none;
  color: white;
  margin: 10px;
  font-size: 20px;
}

.icons a i :hover {
  color: aqua;
  transform: scale(1.1);
  transition: ease-in-out 0.1s;
}

/*DatosdeContacto*/
/*Decoracion-Frascos*/
/*Difusores*/
/*Almohadones*/
/*Mantas*/
/*Media querie*/
@media screen and (min-width: 1200px) {
  .navbar {
    justify-content: end;
    text-align: center;
    top: 0x;
    left: 0;
    display: flex;
    left: 0px;
    margin: 0px;
    position: relative;
    background-color: white;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  }
}
@media screen and (max-width: 480px) {
  .header {
    flex-direction: column;
  }

  .navBar {
    justify-content: end;
    width: 500px;
  }

  .logo {
    width: 50px;
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .column {
    float: left;
    width: 33.33%;
    padding: 100px;
  }
}
@media screen and (max-width: 480px) {
  .column {
    width: 33.33%;
    padding: 50px;
  }
}
/*mis media queries- min-width: desde/ / max-width: hasta*/
@media screen and (min-width: 1200px) {
  .contenedor {
    background-color: white;
    grid-template-areas: " header         header      header	" "	destacado	destacado 	destacado" "	contenido	contenido 	aside " "	 footer		footer 		footer";
  }
}
@media screen and (max-width: 480px) {
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-areas: "destacado" "contenido " "aside" "footer";
  }
}
/*---------- FOOTER ----------*/
.footer {
  background-color: black;
  text-align: center;
}

/*animaciones*/
@-webkit-keyframes logo-animacion {
  0% {
    width: 100px;
  }
  25% {
    width: 300px;
  }
  50% {
    width: 200px;
  }
  75% {
    width: 300px;
  }
  100% {
    width: 100px;
  }
}
@keyframes logo-animacion {
  0% {
    width: 100px;
  }
  25% {
    width: 300px;
  }
  50% {
    width: 200px;
  }
  75% {
    width: 300px;
  }
  100% {
    width: 100px;
  }
}
@-webkit-keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}/*# sourceMappingURL=main.css.map */