@import "./basicos/variables";
@import "./basicos/resets";
@import "./basicos/basicos";
@import "./parciales/nav";
@import "./parciales/header";
@import "./parciales/main";

  /*IF*/
  
 .envios{
	background-color: rgb(163, 163, 163);
	color: aliceblue;
padding-top: 0%;
	
 }

  
  

h1{
	color: rgb(33, 22, 9);
	align-items: center;
	line-height: .9;
	padding-bottom: 10px;
	
  }
  .img-fluid{
	width: 300px;
	border: solid 2px white;
  }
  .fondo-frascos{
	background-image: url(../Decoracion/imagines-frascos/fondo1.png);
  }






  
  
 