.navBar{justify-content: flex-end;
    height: 50px;
    text-align: center;
    top: 0px;
    left: 0;
    display: flex;
    left: 0px;
    margin: 0px;
    position: relative;
    background-color: white;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    
   .logo{
    width: 100px;
    position: absolute;
    top: 0px;
    border-radius: 15px;
    z-index: 100px;
    left: 700px;
    margin-top: 0%;
    height: 100px;
  }
   .fuente30{
    font-size: 15px;
    background-color: transparent;
    border-radius: 20px;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    text-decoration-color: gray;
  } 
  }
  
  

 
   li{ 
    display: inline; margin: 0 15px;
  }