

.navBar{ 
   display: flex;
  justify-content: flex-end;
  align-items:center ;

  height: 50px;
  text-align: center;
  left: 0;
  margin: 0px;
  position: relative;
  background-color: $colorNav;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;}

  /*MIXINS*/
  @mixin central {
  
  }
  @mixin sizes($width, $height) {
    height: $height;
    width: $width;
  }
 .logo{@include sizes(50px,50px);
 
  position: absolute;
  top: 0px;
  border-radius: 15px;
  z-index: 100px;
  left: 700px;
  margin-top: 0%;
  
}
 .fuente30{
  font-size: 15px;
  background-color: transparent;
  border-radius: 20px;
  font-family: $Tipografia;
  text-decoration-color: gray;
} 





 li{ 
  display: inline; margin: 0 15px;
}