@import "../basicos/variables";

.navBar
{ 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center ;
  height: 0px;
  text-align: center;
  left: 0;
  margin: 30px;
  position: relative;
  background-color: $colorNav;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  .contenedor-logo a{
	position: relative;
	top:100px;
  width: auto;
  display: flex;
  top: 0px;
  margin-left: 10px;
  height: 60px;

  .logo{
    width: 100px;
    height: 100px;
    margin-left: 0px;
    border-radius: 15px;
    object-fit: cover;
  }

}



.fuente30{
  font-size: 15px;
  background-color: transparent;
  border-radius: 20px;
  text-decoration-color: gray;
} 
}

 






 li{ 
  display: inline; margin: 0 15px;
}
 /*MIXINS*/
  @mixin central {
  
  }
